$red: #e31642;
$red-dark: #50091e;
$green: #19c359;
$green-dark: #1a381d;
$blue-light: #2680ea;
$blue-dark1: #2d4c95;
$blue-dark2: #225eff;
$blue-dark3: #211f4f;
$black: #060606;
$black-button: #070707;
$header-black: #161616;
$white: #fefefe;
$primary-text: #d4b37f;
$body-bg: #3a3a3a;
$square1: 16px;
$square2: 25px;
$square3: 50px;
$square4: 100px;
$square5: 125px;
$square6: 200px;
$tablet: 768px;


@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    @content;
}

@mixin media($device: $tablet, $type: min) {
    @media only screen and (#{$type}-width: #{$device}) {
        @content;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    text-align: initial;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1;
}



body {
    background-color: $body-bg;
    color: $primary-text;
    font-weight: 500;
}

button {
    border: 1px solid $primary-text;
    font-weight: 500;
    cursor: pointer;
    @include flex;

    &.control {
        color: $primary-text;
        padding: 8px 16px;
        border-radius: $square2;
        background-color: $black-button;
        font-size: 25px;

    }

    &:hover {
        opacity: 0.5;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: none;
}

.App {
    @include flex;
    flex-direction: column;
}

.App-header {
    background-color: $header-black;
    width: 100%;
    position: fixed;
    top: 0;
    @include flex;
}


.App-main {
    min-height: 100vh;
    @include flex;
    flex-direction: column;
}

.flex {
    @include flex;
}

.hide {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

.white {
    color: $white;
}

.green {
    color: $green;
}

.blue {
    color: $blue-dark3;
}

.red {
    color: $red-dark;
}

.m {
    margin: $square1;

    @at-root #{&+2y} {
        margin-top: 2*$square1;
        margin-bottom: 2*$square1;

    }

    @at-root #{&+2x} {
        margin-left: 2*$square1;
        margin-right: 2*$square1;

    }

}


.box {
    border-radius: 12px;
    @include flex;
    justify-content: space-between;
    padding: 0.5* $square1;
    flex-direction: column;
    border: 1px solid;
    width: $square4;
    height: 1.5 * $square4;

    @include media(425px) {
        padding: $square1;
        width: $square5;
        height: 1.5*$square5;

    }

    @include media {
        padding: $square2;
        width: $square6;
        height: $square6;
    }

    @at-root #{&+'-green'} {
        color: $green;
        background-color: $green-dark;
    }

    @at-root #{&+'-blue'} {
        color: $blue-light;
        background-color: $blue-dark3;
    }

    @at-root #{&+'-red'} {
        color: $red;
        background-color: $red-dark;
    }

    &:nth-child(2) {
        @extend .m
    }

    &:hover {
        .ads {
            visibility: visible;
        }
    }

    .ads {
        button {
            background: white;
            border-radius: 50%;
            width: $square2;
            height: $square2;
        }

        input {
            height: $square2;
            width: $square2;
            margin: 0.25* $square1;
            text-align: center;
        }
    }

    &>div {
        &:first-child {
            border-radius: 50%;
            background-color: $white;
            padding: 4px;
            border: 4px solid $blue-dark1;
            color: $black;
            min-width: $square3;
            min-height: $square3;
            @include flex;
        }

        &:last-child {
            font-weight: 700;
        }

    }
}